---
interface Props {
    altTheme?: boolean;
    hasArrow?: boolean;
    addClass?: string;
    url?: string;
    onClick?: () => void;
    children?: any;
    type?: any;
}

const { altTheme, hasArrow, addClass,url } = Astro.props;
const currentLang = Astro.url.pathname.split('/')[1];

const hrefUrl =  url ? `${url}` : `/${currentLang}/contact`;
---

<a class=
    `cta-btn 
    inline-block 
    p-[0.8rem]
    px-[1.5rem] 
    rounded-[35px] 
    font-bold 
    font-nimbus-sans-ext 
    whitespace-normal
    text-center
    text-[15px]
    uppercase
    transition-all 
    ${altTheme === true ? 'bg-green text-white hover:bg-white hover:text-green' : 'bg-cta-red text-white hover:bg-white hover:text-cta-red'} 
    ${addClass}
    `
    href={hrefUrl};
    >
    <slot/>

    {hasArrow === false ? '' : <i class="fa-solid fa-arrow-right ml-2"></i>}
</a>

<!-- <script is:inline>
    $('.cta-btn').each(function(){
        $(this).on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $('#footer-form').offset().top - 130
            }, 800);
        });
    })
</script> -->