---
interface Props {
	title: string;
}

const { title } = Astro.props;
const currentLang = Astro.url.pathname.split('/')[1];
let metaDesc = '';

if (currentLang === "en") {
    metaDesc = "SUPERIST is a global group of digital agencies who have created and executed campaigns for the world's most ambitious brands.";
} else {
    metaDesc = "SUPERIST是一家全球領先的數碼行銷公司，專注於為有遠大抱負的品牌提供創新的行銷解決方案，協助他們在激烈的市場競爭中脫穎而出。";
}

import '@fortawesome/fontawesome-free/css/all.css';
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDesc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- Fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/ueb7mpb.css">
		<!-- jQuery -->
		<script is:inline src="/scripts/jquery-3.7.0.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- GA4 -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0VL3B18HSS"></script>
		<!-- <script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-0VL3B18HSS');
		</script> -->

		<!-- GTM -->
		<!-- Google Tag Manager -->
		<!-- <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M3285DD3');</script> -->
		<!-- End Google Tag Manager -->

		<!-- Hotjar -->
		<!-- <script is:inline>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:3856770,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script> -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3285DD3"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
		<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>
<style is:global lang="scss">
	html {
		@apply
		antialiased
		bg-white-peral;
		font-family: 'nimbus-sans', sans-serif;
	}

	body {
		&.fix {
			overflow: hidden;
		}
	}

	h1,h2,h3,h4,h5 {
		@apply
		font-termina;
	}

	h1 {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;

		@media (min-width: 1280px) {
			font-size: 3.5rem;
		}
	}

	h2 {
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1.2;

		@media (min-width: 1280px) {
			font-size: 2.0rem;
		}
	}

	h3 {
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 1.2;

		@media (min-width: 1280px) {
			font-size: 1.5rem;
		}
	}

	h4 {
		font-size: 0.7rem;
		font-weight: 600;
		line-height: 1.2;

		@media (min-width: 1280px) {
			font-size: 1.2rem;
		}
	}

	p,
	ul li {
		font-family: 'nimbus-sans-ext', sans-serif;
		font-size: 1rem;
		line-height: 25.2px;
		font-weight: 400;
		color: #667085;
	}
	
	.para {
		p {
			@apply
			mb-4;

			&:last-child {
				@apply
				mb-0;
			}

			a {
				text-decoration: underline;
			}
		}

		ul {
			@apply
			pl-5
			mb-5;

			li {
				@apply
				list-disc
				mb-1;
			}
		}

		.hidden-content {
			p {
				&:last-child {
					@apply
					mb-4;
				}
			}
		}
	}

	.page-header-bg {
		@apply
		hidden 
		sm:block 
		absolute 
		right-0 
		object-cover 
		w-full 
		h-full;
	}

	.subtitle {
		font-family: 'termina', sans-serif;
		font-size: 1.1rem;
		font-weight: 500;
		line-height: 1.4;

		@media (min-width: 1280px) {
			font-size: 1.5rem;
		}
	}
	
	.pre_title {
		font-family: 'nimbus-sans-ext', sans-serif;
		font-size: 0.8rem;
		font-weight: 700;
	}

	section {
		margin: 3rem 0;

		@media (min-width: 1280px) {
			margin: 4rem 0;
		}
	}

	.section-title {
		@apply
		mb-[1.5rem];
	}

	.container {
		&.container-narrow {
			@apply
			max-w-[1090px];
		}
	}

	.blue-text-highlight {
		display: inline;
		position: relative;
		background-image: linear-gradient(transparent calc(60% - 1px),#1057FF 5px);
		background-size: 100% 90%;
		background-repeat: no-repeat;
		padding: 0 0.3rem;
	}

	.mobile-slider {
		.slick-track {
			display:flex;

			.card-box {
				height:inherit;
			}
		}
        .slick-dots {
            li {
                button {
					@apply
					w-[15px]
					h-[15px];

                    &::before {
						@apply
						content-['']
						opacity-100
						w-[15px]
						h-[15px]
						rounded-[100%]
						border-[2px]
						border-gray-light;
                    }
                }

				&.slick-active {
					button {
						&::before {
							@apply
							opacity-100
							bg-blue-main
							border-blue-main;
						}
					}
				}
            }
        }
    }
</style>
